mixin personal-order(data)
    .personal-order

        h4.personal-order__control.personal-order__control--active test
        .personal-order__content content
        h4.personal-order__control test2
        .personal-order__content content2
