.about-sert{
    background-color: $white;
    padding: 40px 0;

    @media (min-width: $screen-md){
        padding: 50px 0;
    }

    @media (min-width: $screen-lg){
        padding: 60px 0;
    }

    @media (min-width: $screen-xl){
        padding: 70px 0;
    }
}


.about-sert__container{
    @include container();
}


.about-sert__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    @include row();
}


.about-sert__item{
    @include col();
    @include col(md, 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @media (min-width: $screen-md){
        margin-bottom: 0;
    }

    @media (min-width: $screen-lg){

    }

    @media (min-width: $screen-xl){

    }
}


.about-sert__text{
    font-size: 16px;
    line-height: 25px;
    max-width: 195px;
    margin: 0 auto;
    text-align: center;
}
