mixin about-sert(data)
    section.about-sert
        .about-sert__container
            h2.about-sert__title.title-h2 Сертификаты качества
            ul.about-sert__list
                li.about-sert__item
                    .about-sert__img
                        img(src="%=static=%img/assets/about-sert/img1.png" alt="alt")
                    p.about-sert__text Сертификаты CHINH SON (Вьетнам)

                li.about-sert__item
                    .about-sert__img
                        img(src="%=static=%img/assets/about-sert/img2.png" alt="alt")
                    p.about-sert__text Сертификаты YANOEN (Япония)


