extends _template.pug

include ../components/head/head

include ../components/article/article



block head
    +head(head.article)

block content
    main
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/')
            +breadcrumbs-item('Блог', 'blog.html')
            +breadcrumbs-item('Статьи', 'articles.html')
            +breadcrumbs-item('Целебная сила лотоса из вьетнама')
        +article
        +instagram(instagram)




