extends _template.pug

include ../components/head/head


include ../components/form/form
include ../components/authorization-form/authorization-form
include ../components/registration-form/registration-form
include ../components/field-toggler/field-toggler




block head
    +head(head.auth)

block content
    main
        section.tabs-authorization
            +tabs([
                {
                    'id': 'auth',
                    'text': 'Я уже покупал',
                    'isActive': true,
                },
                {
                    'id': 'reg',
                    'text': 'Я новый покупатель',
                },
            ], 'some-mod')
                +tabs-item('auth', true, 'some')
                    +authorization-form(authorization_form)

                +tabs-item('reg')
                    +registration-form(registration_form)

        +instagram(instagram)




