extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog
include ../components/category/category
include ../components/category-filter/category-filter
include ../components/category-card/category-card



block head
    +head(head.category)

block content
    main
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/')
            +breadcrumbs-item('Каталог', 'catalog.html')
            +breadcrumbs-item('Матча церемониальный')
        +category()
        +set-banner(set_banner)
        +action(action)
        +text-block()
        +instagram(instagram)




