extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog



block head
    +head(head.index)

block content
    main
        +cart-day(cart_day)
        +main-descr(main_descr)
        +main-catalog(main_catalog)
        +latest(latest)
        +popular(popular.popular)
        +set-banner(set_banner)
        +popular(popular.special)
        +action(action)
        +features(features)
        +recipe(recipe, true, true)
        +faq(faq, true)
        +text-block()
        +instagram(instagram)




