extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog



block head
    +head(head.index)

block content
    main
        +cart-day(cart_day)
        +main-descr(main_descr)
        +main-catalog(main_catalog)
        +latest(latest)
        +popular(popular)
        +set-banner(set_banner)
        +instagram(instagram)
        +faq()




