extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog
include ../components/all-actions/all-actions
include ../components/action-one/action-one



block head
    +head(head.news_one)

block content
    main
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/')
            +breadcrumbs-item('Блог', 'blog.html')
            +breadcrumbs-item('Новости', 'news.html')
            +breadcrumbs-item('Найдете дешевле - вернем разницу')
        +action-one()
        +action-one-text('action-one-text', 'Другие новости')
        +text-block()
        +instagram(instagram)




