extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog
include ../components/all-actions/all-actions
include ../components/action-one/action-one
include ../components/news/news



block head
    +head(head.news)

block content
    main
        +breadcrumbs()
            +breadcrumbs-item('Главная', '/')
            +breadcrumbs-item('Блог', 'blog.html')
            +breadcrumbs-item('Новости')
        +news
        +text-block()
        +instagram(instagram)




