extends _template.pug

include ../components/head/head


include ../components/order-paid/order-paid




block head
    +head(head.order_finish)

block content
    main
        +order-paid
        +instagram(instagram)




