extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog
include ../components/product/product
include ../components/product-descr/product-descr
include ../components/product-tabs/product-tabs
include ../components/avialibility/avialibility
include ../components/field-text/field-text
include ../components/producer/producer



block head
    +head(head.index)

block content
    main
        +breadcrumbs()
          +breadcrumbs-item('Главная', '/home')
          +breadcrumbs-item('Каталог', '/catalog')
          +breadcrumbs-item('Производитель')
        +producer
        +action(action)
        +text-block()
        +main-descr(main_descr)
        +instagram(instagram)
