extends _template.pug

include ../components/head/head

include ../components/main-descr/main-descr
include ../components/main-catalog/main-catalog
include ../components/product/product
include ../components/product-descr/product-descr
include ../components/product-tabs/product-tabs
include ../components/avialibility/avialibility
include ../components/field-text/field-text



block head
    +head(head.product)

block content
    main
        +breadcrumbs()
          +breadcrumbs-item('Главная', '/')
          +breadcrumbs-item('Каталог', 'catalog.html')
          +breadcrumbs-item('Матча церемониальный', 'category.html')
          +breadcrumbs-item('Чай Матча Весенний, 100г')
        +product()
        +main-descr(main_descr)
        +popular(popular.popular)
        +set-banner(set_banner)
        +action(action)
        +text-block()
        +instagram(instagram)
