extends _template.pug

include ../components/head/head


include ../components/search/search




block head
    +head(head.search)

block content
    main
        +breadcrumbs()
            +breadcrumbs-item('Главная', 'index.html')
            +breadcrumbs-item('Поиск по сайту', 'search.html')
            +breadcrumbs-item('Голубой матча')
        +search
        +instagram(instagram)




