-
    var mainMenu = [
    {
        "id": "0",
        "name": "О компании",
        "url": "about.html"
    },
    {
        "id": "10",
        "name": "Блог",
        "url": "blog.html"
    },
    {
        "id": "20",
        "name": "Доставка и оплата",
        "url": "delivery.html"
    },
    {
        "id": "30",
        "name": "Партнерам",
        "url": "partners.html",
        "className": "hide"
    },
    {
        "id": "40",
        "name": "Контакты",
        "url": "contacts.html",
        "className": "hide"
    },
    {
        "id": "50",
        "name": "Другое",
        "className": "hide-desktop",
        "childs": [
        {
            "id": "50-0",
            "name": "Партнерам",
            "url": "partners.html"
        },
        {
            "id": "50-10",
            "name": "Контакты",
            "url": "contacts.html"
        },
        ]
    },
    ];
