mixin order-finish(data)
    section.order-finish
        .order-finish__container
            h2.order-finish__title.title-h2 Спасибо! Ваш заказ успешно оформлен
            p.order-finish__text Наш менеджер свяжется с вами в ближайшее время
            .order-finish__list
                p Номер заказа - 123123
                p Сумма заказа - 100 000 руб
                p Способ доставки - Курьером
                p Способ оплаты - Наличными курьеру
                p Ваш заказ оплачен
            .order-finish__btns
                a(href="personal.html").order-finish__btn-top.btn.btn__border.btn__border--green Войти в личный кабинет
                a(href="/").order-finish__btn-bottom.btn.btn--green Вернуться на главную
