mixin action-one(data)
    section.action-one
        +action-bg()



mixin action-one-text(data, title)
    section.action-one-text
        h2.action-one-text__title.title-h2 Найдете дешевле - вернем разницу
        .action-one-text__date 04.03.2019
        p Если говорить о максимальной пользе, которую можно получить от зеленого ча  я матча, то его лучше готовить с использованием растительного молока, нежели животного. Почему? Давайте разберемся.
        p Чай матча содержит в 100 раз больше мощнейших антиоксидантов (эпигаллокат ехина галлат-3 (EGCG)), чем любой другой зеленый чай. И ему действительно нет аналогов. Эпигаллокатехин оказывает положительное воздействие практичес ки на весь организм: защищает сердечно-сосудистую систему и печнь, уравновешивает нервную систему, ускоряет обмен веществ, способствует сжиганию жиров и нейтрализации токсинов, а так же изменяет метаболизм раковых клеток за счет подавления ферментов, поддерживающих их жизнедеятельность, снижает проявление аллергических реакций.
        .action-one-text__buttons
            a(href="catalog.html").action-one-text__btn.btn.btn__border--green В каталог
            +action-btn(title)


mixin action-btn(title)
    a(href="actions.html").action-one-text__btn.btn.btn--green=title

