mixin main-slider(data)
    .main-slider.container
        .swiper-container.main-slider__container
            .swiper-wrapper
                //-.main-slider__item.swiper-slide.swiper-lazy(data-background="%=static=%img/assets/sliders/bg-main-slider2.jpg")
                .main-slider__item.swiper-slide
                    img.swiper-lazy(data-src="%=static=%img/assets/sliders/main-slide.png")
                    .swiper-lazy-preloader
                    //-.main-slider__descr
                        +main-slider-descr
                .swiper-slide Slide 2
                .swiper-slide Slide 3
            .main-slider__btn.main-slider__btn--prev.swiper-button-prev
            .main-slider__btn.main-slider__btn--next.swiper-button-next
        .main-slider__pagination.swiper-pagination.swiper-pagination--custom


mixin main-slider-descr()
    .main-slider-descr
        .main-slider-descr__wrapper
            h2.main-slider-descr__title С нами выгодно
            ul.main-slider-descr__list
                li.main-slider-descr__item Оформите заказ от 2 000 рублей и получите упаковку матча в подарок
                li.main-slider-descr__item Скидка 10% на первую покупку
            a(href="#").main-slider-descr__btn.btn.btn--green Перейти к каталогу

