mixin user-nav(data)
    ul.user-nav
        li.user-nav__item
            a.user-nav__link.user-nav__link--search(href="search.html" aria-label="Поиск")
                != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'user-nav__svg', iconWidth: '18', iconHeight: '18'})
        li.user-nav__item
            a.user-nav__link(href="favorites.html" aria-label="Избранное")
                != pugHelpers.Icon.call(locals, {iconName: 'heart', className: 'user-nav__svg', iconWidth: '18', iconHeight: '18'})
                != pugHelpers.Icon.call(locals, {iconName: 'heart-s', className: 'user-nav__svg user-nav__svg--hover', iconWidth: '18', iconHeight: '18'})
        li.user-nav__item
            a.user-nav__link(href="personal.html" aria-label="Личный кабинет")
                != pugHelpers.Icon.call(locals, {iconName: 'user', className: 'user-nav__svg', iconWidth: '18', iconHeight: '18'})
                //-!= pugHelpers.Icon.call(locals, {iconName: 'user-alt', className: 'user-nav__svg user-nav__svg--hover', iconWidth: '18', iconHeight: '18'})
        li.user-nav__item.cart-user
            a.user-nav__link(href="cart-page.html" aria-label="Корзина")
                != pugHelpers.Icon.call(locals, {iconName: 'shopping-cart', className: 'user-nav__svg', iconWidth: '18', iconHeight: '18'})
                != pugHelpers.Icon.call(locals, {iconName: 'shopping-cart-s', className: 'user-nav__svg user-nav__svg--hover', iconWidth: '18', iconHeight: '18'})
                span.cart-user__num 5
