mixin article(data)
    section.article
        .article__container
            h2.article__title Целебная сила лотоса из вьетнама
            .article__date 04.03.2019
            .article__img
                img(src="%=static=%img/assets/article/img.jpg" alt="alt")
            .article__text
                p Если говорить о максимальной пользе, которую можно получить от зеленого ча  я матча, то его лучше готовить с использованием растительного молока, нежели животного. Почему? Давайте разберемся.

                p Чай матча содержит в 100 раз больше мощнейших антиоксидантов (эпигаллокат ехина галлат-3 (EGCG)), чем любой другой зеленый чай. И ему действительно нет аналогов. Эпигаллокатехин оказывает положительное воздействие практичес ки на весь организм: защищает сердечно-сосудистую систему и печнь, уравновешивает нервную систему, ускоряет обмен веществ, способствует сжиганию жиров и нейтрализации токсинов,
                p а так же изменяет метаболизм раковых клеток за счет подавления ферментов, поддерживающих их жизнедеятельность, снижает проявление аллергических реакций.

                .article__btn
                    a(href="#").btn.btn__border.btn__border--green Вернуться назад


