.latest {
  padding-bottom: 40px;
  padding-top: 40px;
  //overflow: hidden;
  background-repeat: no-repeat;
  @media  (min-width: $screen-md){
    background-image: url(%=static=%assets/latest/bg1.png),
    url(%=static=%assets/latest/bg2.jpg);
    background-position: -150px 100%, 60% 100%;
    background-size: 500px, cover;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  @media  (min-width: $screen-lg){
    background-position: 0px 100%, 60% 100%;
    padding-bottom: 70px;
    padding-top: 70px;
  }
  @media  (min-width: $screen-xl){
    background-size: 500px, cover;
    background-position: 0 100%, 60% 100%;
  }

}

.latest__top{
  height: 350px;
  background: url(%=static=%assets/latest/bg1.png),
  url(%=static=%assets/latest/bg2.jpg);
  background-position: 0 100%, 50% 100%;
  background-size: 400px, cover;
  background-repeat: no-repeat;
  margin: 0 0 30px;
  @media  (min-width: $screen-md){
    background-image: none;
    @include container();
    //margin: 0 0 0 auto;
    //width: 60%;
    height: auto;
  }
  @media  (min-width: $screen-lg){
    //width: 50%;
  }
}

.latest__title{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: 400;
  color: $yelgreen;
  margin: 0;

  @media  (min-width: $screen-md){
    font-size: 32px;
    margin-bottom: 20px;
    background-image: none;
    padding: 0;
    width: 60%;
    margin-left: auto;
  }

  @media  (min-width: $screen-lg){
    font-size: 47px;
    width: 50%;
  }
}

.latest__descr{
  @include container();
  @media  (min-width: $screen-md){
    //width: 60%;
    //margin-left: auto;
    //margin-right: 0;
  }
  @media  (min-width: $screen-lg){
    //width: 50%;
  }
}

.latest__descr-wrap{

  @media (min-width: $screen-md){
    width: 60%;
    margin-left: auto;
  }

  @media (min-width: $screen-lg){
    width: 50%;
  }
}

.latest__text{
  margin: 0 0 25px;
  font-size: 15px;
  line-height: 22px;
}

.latest__list{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.latest__item{
  color: $gray-light;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  &:before{
    content: '';
    @include bg($leaf-mobile);
    margin-right: 15px;
    flex-shrink: 0;
    @media  (min-width: $screen-xl){
      @include bg($leaf);
    }
  }
}

.latest__buttons{
  @media  (min-width: $screen-md){
    display: flex;
    align-items: center;
    //justify-content: space-between;
  }
}

.latest__btn{
  flex-shrink: 0;
  width: 100%;
  &--green{
    max-width: 215px;
    margin: 0 auto 15px;
    @media  (min-width: $screen-md){
      margin: 0 25px 0 0;
    }
  }
  &--border{
    max-width: 175px;
    margin: 0 auto;
    @media  (min-width: $screen-md){
      margin: 0;
    }
  }
}
