mixin footer(data)
    footer.footer
        .footer__top
            .footer__accordion#footer-accordion
                .footer__wrap
                    .footer__control О компании
                    ul.footer__list
                        li.footer__item
                            a(href="about.html").footer__link О компании
                        li.footer__item
                            a(href="delivery.html").footer__link Оплата и доставка
                        li.footer__item
                            a(href="producer.html").footer__link Партнерам
                        li.footer__item
                            a(href="contancts.html").footer__link Контакты
                .footer__wrap
                    .footer__control Информация
                    ul.footer__list
                        li.footer__item
                            a(href="news.html").footer__link Новости
                        li.footer__item
                            a(href="articles.html").footer__link Статьи
                        li.footer__item
                            a(href="articles.html#review").footer__link Обзоры
                        li.footer__item
                            a(href="articles.html#recipe").footer__link Рецепты
                .footer__wrap
                    .footer__control Каталог товаров
                    ul.footer__list
                        li.footer__item
                            a(href="product.html").footer__link Матча царемониальный
                        li.footer__item
                            a(href="product.html").footer__link Матча премиальный
                        li.footer__item
                            a(href="product.html").footer__link Матча традиционный
                        li.footer__item
                            a(href="product.html").footer__link Напитики
                        li.footer__item.footer__item--mobile
                            a(href="product.html").footer__link Аксессуары
                        li.footer__item.footer__item--mobile
                            a(href="product.html").footer__link Наборы
                        li.footer__item.footer__item--mobile
                            a(href="actions.html").footer__link.footer__link--action % Акции
                ul.footer__list.footer__list--desktop
                    li.footer__item
                        a(href="product.html").footer__link Аксессуары
                    li.footer__item
                        a(href="product.html").footer__link Наборы
                    li.footer__item
                        a(href="actions.html").footer__link.footer__link--action % Акции


            .footer__contacts
                a(href="tel:+74996538857").footer__phone +7 (499) 653-88-57
                a(href="#modal-call" data-toggle="modal").footer__feedback
                    span Обратная связь
                a(href="mailto:info@matchavam.ru").footer__mail info@matchavam.ru

                .footer__social
                    a(href="#" aria-label="vk").footer__icon.footer__icon--vk
                    a(href="#" aria-label="fb").footer__icon.footer__icon--fb
                    a(href="#" aria-label="inst").footer__icon.footer__icon--inst

                .footer__button
                    a(href="personal.html").footer__btn.btn.btn--green Личный кабинет

        .footer__bottom
            p.footer__copy @ 2010-2017  ООО «Матчавам» - Натуральный вьетнамский кофе, чай, продукты и аксессуары. Доставка по москве и всей россии.
            a(href="#").footer__policy Политика конфиденциальности
