.footer{
    @include container();
}

.footer__top{

    @media (min-width: $screen-md) {
        display: flex;
        justify-content: space-between;
    }
}

.footer__accordion{

    @media (min-width: $screen-md) {
        display: flex;
    }
}

.footer__list{
    &--desktop{
        display: none;

        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}

.footer__item{

    &--mobile{

        @media (min-width: $screen-md) {
            display: none;
        }
    }
}
