.action-text{
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(%=static=%assets/action-text/action.png);
  background-size: cover;
}
