mixin instagram(data)
    section.instagram_container
        .instagram
            h2.instagram__title.title-h2 Следите за нами в instagram
                a.instagram__title-link(href='#' target='_blank') #matchavam

            ul.instagram__list
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/1.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/2.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/3.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/4.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/5.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/6.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/7.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/8.png' alt='')
                li.instagram__item
                    a.instagram__link(href='#' target='_blank')
                        img.instagram__link-image(src='%=static=%img/assets/instagram/1.png' alt='')
