.avialibility__text{
  font-size: 14px;
  font-weight: 300;
  color: $white;
  //background-size: 150px 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;

  &--yes{
    @include bg($yes);
  }

  &--not{
    @include bg($not);
  }

  &--soon{
    @include bg($soon);

  }
}
