mixin order-paid(data)
    section.order-paid
        .order-paid__container
            h2.order-paid__title.title-h2 Спасибо! Ваш заказ успешно оплачен
            p.order-paid__text Наш менеджер свяжется с вами в ближайшее время
            .order-paid__list
                p Номер заказа - 123123
                p Сумма заказа - 100 000 руб
            .order-paid__btns
                a(href="#").order-paid__btn-top.btn.btn__border.btn__border--green Войти в личный кабинет
                a(href="#").order-paid__btn-bottom.btn.btn--green Вернуться на главную
