mixin action(data)
    section.action
        ul.action__list
            each item in data.list
                li.action__item
                    a(href="action.html" data-bg=`url(%=static=%img/assets/action/${item.img})`).action__link.lazy
                        //- img.action__picture.lazy(src=`%=static=%img/assets/action/${item.img}`, alt="alt")
                        h3.action__title=item.title
                        p.action__text=item.text
        .action__button
            a(href="actions.html").action__btn.btn.btn__border.btn__border--green Все акции


mixin action-bg(data)
    .action-bg.lazy(data-bg="url(%=static=%img/assets/sliders/main-img.jpg)")
        .action-bg__wrapper
            h2.action-bg__title С нами выгодно
            ul.action-bg__list
                li.action-bg__item Оформите заказ от 2 000 рублей и получите упаковку матча в подарок
                li.action-bg__item Скидка 10% на первую покупку
            .action-bg__button
                a(href="action.html").action-bg__btn.btn.btn--green Перейти к акции
