mixin delivery(data)
    section.delivery
        .delivery__top(style="background-image: url(%=static=%img/assets/contacts/bg.jpg)")
            h2.delivery__title.title-h2 Оплата и доставка
        .delivery__container

            .delivery__block
                h3.delivery__subtitle Оплата
                .delivery__text
                    p Наличными или банковской картой при получении заказа

            .delivery__block
                h3.delivery__subtitle Условия доставки
                .delivery__text
                    p Доставка заказов осуществляется по всей России и ближнему зарубежью.
                    p Будьте внимательны: по техническим причинам услуга оплаты картой может не оказываться на некоторых пунктах выдачи заказов. Информацию о доступности услуги смотрите в описании пункта выдачи.
                    p Мы работаем напрямую с логистическими компаниями, поэтому Ваш заказ будет обработан и передан в доставку непосредственно в день его оформления.
                .delivery__text.delivery__text--other
                    p
                        span Минимальная стоимость заказа
                        |- 1000р
                    p
                        span Фиксированная стоимость доставки
                        | - 290 р в пределах МКАД  и 350 за МКАД
                .delivery__text
                    p Ознакомиться с условиями доставки заказа до Вашего населенного пункта можно на форме ниже. Расчет стоимости доставки является приблизительным, и осуществляется для заказа весом 1 кг и стоимостью 2000 руб.
                .delivery__text.delivery__text--attention
                    p Информацию по способам доставки в вашем населенном пункте уточняйте в форме ниже
