.set-banner {
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #fdfefe;
    //overflow: hidden;
    background-repeat: no-repeat;
    //background-color: $white;
    @media (min-width: $screen-md) {
        background-image: url(%=static=%assets/set-banner/set.png);
        background-position: -300px 0;
        background-size: auto 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    @media (min-width: $screen-lg) {
        padding-bottom: 70px;
        padding-top: 70px;
        background-position: -200px 0;
    }
    @media (min-width: $screen-xl) {
        background-position: -100px 0;
    }

}

.set-banner__top {
    height: 350px;
    background-color: $white;
    background: url(%=static=%assets/set-banner/set.png);
    background-position: 50% 60px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 30px;
    @media (min-width: $screen-md) {
        background-image: none;
        //margin: 0 0 0 auto;
        @include container();
        //width: 60%;
        height: auto;
    }
    @media (min-width: $screen-lg) {
        //width: 50%;
    }
}

.set-banner__title {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: 400;
    color: $yelgreen;
    margin: 0;

    @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
        font-size: 32px;
        margin-bottom: 20px;
        background-image: none;
        width: 60%;
        margin-left: auto;
    }

    @media (min-width: $screen-lg) {
        font-size: 47px;
        width: 50%;
    }
}

.set-banner__descr {
    @include container();
    @media (min-width: $screen-md) {
        //width: 60%;
        //margin-left: auto;
        //margin-right: 0;
    }
    @media (min-width: $screen-lg) {
        //width: 50%;
    }
}

.set-banner__descr-wrap {

    @media (min-width: $screen-md) {
        width: 60%;
        margin-left: auto;
    }

    @media (min-width: $screen-lg) {
        width: 50%;
    }
}

.set-banner__text {
    margin: 0 0 25px;
    font-size: 15px;
    line-height: 22px;

    @media (min-width: $screen-md) {
        font-size: 15px;
    }

    @media (min-width: $screen-lg) {
        font-size: 17px;
        line-height: 28px;
    }

    @media (min-width: $screen-xl) {
        font-size: 19px;
        max-width: 420px;

    }
}

.set-banner__list {
    padding: 0;
    margin: 0 0 30px;
    list-style-type: none;
    @media (min-width: $screen-md) {
        margin-bottom: 40px;
    }

    @media (min-width: $screen-lg) {
        font-size: 19px;
        margin-bottom: 50px;
    }

    @media (min-width: $screen-xl) {
        margin-bottom: 60px;
    }
}

.set-banner__item {
    color: $gray-light;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media (min-width: $screen-lg) {
        font-size: 19px;
    }

    &:before {
        content: '';
        @include bg($leaf-mobile);
        margin-right: 15px;
        flex-shrink: 0;
        @media (min-width: $screen-xl) {
            @include bg($leaf);
        }
    }
}

.set-banner__buttons {
    @media (min-width: $screen-md) {
        display: flex;
        align-items: center;
        //justify-content: space-between;
    }
}

.set-banner__btn {
    flex-shrink: 0;
    width: 100%;

    &--green {
        max-width: 285px;
        margin: 0 auto 15px;
        @media (min-width: $screen-md) {
            margin: 0 25px 0 0;
        }
    }
}

