mixin news(data)
    section.news
        .news__container
            h2.news__title.title-h2 Новости
            .news__last
                p.news__last-caption Последняя новость
                h3.news__last-title Полезный чай матча с молоком - польза или вред?
                .news__last-date 04.03.2019
                .news__last-action
                    +action-one()
                .news__last-text
                    p Если говорить о максимальной пользе, которую можно получить от зеленого ча  я матча, то его лучше готовить с использованием растительного молока, нежели животного. Почему? Давайте разберемся.

                    p Чай матча содержит в 100 раз больше мощнейших антиоксидантов (эпигаллокат ехина галлат-3 (EGCG)), чем любой другой зеленый чай. И ему действительно нет аналогов. Эпигаллокатехин оказывает положительное воздействие практичес ки на весь организм: защищает сердечно-сосудистую систему и печнь, уравновешивает нервную систему, ускоряет обмен веществ, способствует сжиганию жи
                    p ров и нейтрализации токсинов, а так же изменяет метаболизм раковых клеток за счет подавления ферментов, поддерживающих их жизнедеятельность, снижает проявление аллергических реакций.

            ul.news__list
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
                li.news__item
                    .news__item-date 04.03.2019
                    h4.news__item-title Полезный чай матча с молоком - польза или вред?
                    p.news__item-text Использование компьютера требует специальных навыков. Людей, достигших в этом мастерства, иногда называют «хакерами».
                        a(href="news-one.html") Читать дальше...
                    a(href="news-one.html").news__item-link Подробнее
            .news__pagination
                +pagination()
                    +pagination-item('1', '/1', true)
                    +pagination-item('2', '/2')
                    +pagination-item('3', '/3')
                    +pagination-item('4', '/4')
                    +pagination-item('...')
                    +pagination-item('999', '/999')

