mixin header(data)
    header.header
        .header__wrapper
            .header__logo
                img(src="%=static=%img/assets/header/logo.png")
            .header__nav
                +main-nav('1')
            .header__phone






