mixin header(data)
    header.header
        .header__top
            .header__logo
                != pugHelpers.Icon.call(locals, {iconName: 'matcha', className: 'header__logo-svg', iconWidth: '130', iconHeight: '35'})
            .header__user-mobile
                +user-nav()
            .header__nav
                +main-nav('10')
            .header__phone
                +header-phone()
        .header__down
            .header__menu-btn
                +menu-btn(data, 'menu-catalog')
            .header__search
                +header-search(data, 'header-search-main')
            .header__action
                +action-text()
            .header__user-nav
                +user-nav()





