mixin personal-favorites(data)
    ul.personal-favorites
        li.personal-favorites__item
            +cart(popular.popular.cart)
        li.personal-favorites__item
            +cart(popular.popular.cart2)
        li.personal-favorites__item
            +cart(popular.popular.cart3)
        li.personal-favorites__item
            +cart(popular.popular.cart)
        li.personal-favorites__item
            +cart(popular.popular.cart3)
