mixin about-text(data)
    section.about-text
        .about-text__top
            ul.about-text__top-list
                li.about-text__top-item
                    .about-text__top-num
                        span 100
                    p.about-text__top-text Чай Матча более
                        span 100 лет
                        |успешно существует на рынке
                li.about-text__top-item
                    .about-text__top-num
                        span 100
                    p.about-text__top-text Матча содержит в
                        span 100 раз
                        | больше антиоксидантов, чем обычный чай
                li.about-text__top-item
                    .about-text__top-num
                        span 10
                    p.about-text__top-text Чашка Матча в
                        span 10 раз полезнее
                        | обычного чая
                li.about-text__top-item
                    .about-text__top-num
                        span 1
                    p.about-text__top-text МатчаВам -
                        span первая компания
                        |которая собрала чай со всего мира

        .about-text__wrapper
            .about-text__middle
                ul.about-text__middle-list
                    li.about-text__middle-item
                        h4.about-text__title.about-text__middle-title Миссия
                        p.about-text__middle-text Мы дарим вам возможность за разумные деньги , открыть, выбрать и полюбитть свой чай Матча
                    li.about-text__middle-item
                        h4.about-text__title.about-text__middle-title Ценности
                        p.about-text__middle-text Отношение к продукту: Только качественная свежая и сертифицированная продукция
                        p.about-text__middle-text Отношение к клиенту: Честность, лояльность, открытость
                        p.about-text__middle-text Отношение к работе: Мы слажено работаем над тем, чтобы открыть новые вкусы и дать вам эту же возможность

            .about-text__bottom-wrap
                .about-text__bottom
                    .about-text__bottom-item
                        h4.about-text__title С нами выгодно
                        ul.about-text__sublist
                            li.about-text__sublist-item
                                p.about-text__sublist-text Дарим скидку 10% каждому новому клиенту
                            li.about-text__sublist-item
                                p.about-text__sublist-text Гарантированные подарки при заказе:
                                    span - От 2 000 руб. 15 позиций вьетнамского чая Матча в подарок
                                    span - От 4 000 руб. 50 позиций любого вьетнамского чая в подарок
                            li.about-text__sublist-item
                                p.about-text__sublist-text Дегустационный набор по специальной цене
                            li.about-text__sublist-item
                                p.about-text__sublist-text Бесплатная доставка по России - от 3 000 руб.

                    .about-text__bottom-item
                        h4.about-text__title С нами удобно
                        ul.about-text__sublist
                            li.about-text__sublist-item
                                p.about-text__sublist-text Не требуем предоплаты
                            li.about-text__sublist-item
                                p.about-text__sublist-text Отгрузка в день оформления
                            li.about-text__sublist-item
                                p.about-text__sublist-text Отправка по всему миру
                            li.about-text__sublist-item
                                p.about-text__sublist-text Практичная упаковка
