mixin category(data)
    section.category-main
        h2.category-main__title.title-h2 Матча царемониальный
        .category-main__wrapper
            +category-filter()
            +category-card(category_card)
