mixin main-catalog(data)
    section.main-catalog.section
        h2.title-h2=data.title
        ul.main-catalog__list
            each item in data.list
                li.main-catalog__item
                    a(href="#").main-catalog__link
                        .main-catalog__img
                            img.main-catalog__picture.lazy(data-src=`%=static=%img/assets/main-catalog/${item.img}` alt="Изображение в каталоге")
                        h3.main-catalog__title=item.title
