.menu-btn{
  display: flex;
  align-items: center;
  min-width: 180px;
  @media (min-width: $screen-md){
    position: relative;
  }
  @media (min-width: $screen-xl){
    min-width: 256px;
  }
  .burger{
    width: 100%;
    max-width: 41px;
    background-color: $yelgreen;
    border-left: 1px solid #aabe5f;
    min-height: 41px;
    &:hover, &:focus{
      background-color: $yelgreen-dark;
    }
    &:active{
      background-color: $yelgreen-darken;
    }
    @media (min-width: $screen-xl){
      min-height: 51px;
      max-width: 68px;
    }
  }
}

.menu-btn__button{
  font-size: 14px;
  color: $white;
  background-color: $yelgreen;
  text-decoration: none;
  min-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 138px;
  &:hover, &:focus{
    background-color: $yelgreen-dark;
  }
  &:active{
    background-color: $yelgreen-darken;
  }
  @media (min-width: $screen-xl){
      min-height: 51px;
      max-width: 187px;
      font-size: 17px;
  }
}

.menu-btn__catalog{
  position: absolute;
  width: 100%;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;
  z-index: 10;
  transition: $transition-time;
}

.menu-btn__catalog--open{
  opacity: 1;
  visibility: visible;
  height: auto;
}
