mixin menu-btn(data)
    .menu-btn
        a(href="#").menu-btn__button Каталог товаров
        +burger('Показать меню', 'menu-catalog', 'menu-btn__catalog--open')(class='')
        #menu-catalog.menu-btn__catalog
            +menu-catalog(menu_catalog)
