mixin header-search(data, for_id)
    .header-search
        input.header-search__input(type="text" placeholder="Поиск по сайту" id=for_id)
        label.header-search__label(for=for_id aria-label="Поиск")
            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'header-search__svg', iconWidth: '16', iconHeight: '16'})

