.header-search{
  display: none;
  position: relative;
  width: 100%;

  @media  (min-width: $screen-md){
    display: block;
  }
}

.header-search__input{
  width: 100%;
  min-height: 41px;
  padding: 0 40px 0 20px;
  font-size: 16px;
  border: 1px solid $gray-lightest;
  color: $gray-dark;
  &:hover{
    color: $gray-dark;
    + label{
      fill: $gray-dark;
    }
    &::-webkit-input-placeholder {
      color: $gray-dark;
    }
    &::-moz-placeholder {
      color: $gray-dark;
    }
    &:-ms-input-placeholder {
      color: $gray-dark;
    }
    &:-moz-placeholder {
      color: $gray-dark;
    }
  }
  &:focus{
    outline: none;
    + label{
      fill: $gray-lighten;
    }
    &::-webkit-input-placeholder {
      color: $gray-dark;
    }
    &::-moz-placeholder {
      color: $gray-dark;
    }
    &:-ms-input-placeholder {
      color: $gray-dark;
    }
    &:-moz-placeholder {
      color: $gray-dark;
    }
  }
  &::-webkit-input-placeholder {
    color: $gray;
  }
  &::-moz-placeholder {
    color: $gray;
  }
  &:-ms-input-placeholder {
    color: $gray;
  }
  &:-moz-placeholder {
    color: $gray;
  }

  @media (min-width: $screen-xl){
    min-height: 51px;
  }
}

.header-search__label{
  position: absolute;
  right: 15px;
  top: calc(50% + 2px);
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  fill: $gray;
}

.header-search__svg{
  @media (min-width: $screen-xl){
    width: 18px;
    height: 18px;
  }
}
