mixin all-actions(data)
    section.all-actions
        h2.all-actions.title-h2 Все действующие акции

        ul.all-actions__list
            - for(var i = 0; i < 4; i++) {
            li.all-actions__item
                +action-bg()
            - }



