.all-actions{
  @include container();

  .main-slider-descr{
    padding: 20px;
  }

  .main-slider-descr__wrapper{
    margin: 0;
  }
}

.all-actions__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include row();
}

.all-actions__item{
  @include col();
  @include col(md, 6);
  margin-bottom: 20px;
}
