mixin faq(data, title)
    section.faq
        if title
            h2.faq__title.title-h2 Вопросы и ответы
        #faq-accordion.faq__accordion
            .faq__control Настоящий чай Матча (Маття) растет и производится в Японии?
                != pugHelpers.Icon.call(locals, {iconName: "plus-circle", className: "faq__svg", iconWidth: "35", iconHeight: "35"})
            .faq__content
                p В наши дни настоящий чай матча расчет и производится не только в Японии.
                p Он родом из Китая, где буддистские монахи придумали оригинальный процесс заваривания листьев, которые подвергали паровой обработке и растирали до состояния пудры. Делалось это для удобства хранения, транспортировки и торговли. Им он полюбился благодаря уникальным свойствам расслаблять нервную систему, успокаивать ум без эффекта сонливости.
                p Однако наибольшее распространение этот напиток приобрел в стране восходящего солнца , где его создание и употребление было возведено в настоящий ритуал. Чай матча (в японс ком произношении маття) пьют уже более 1000 лет и ценят за богатство полезных свойств и насыщенный вкус.
                p Отточенное за тысячелетие и доведенное до совершенства производство, сегодня распространяется в ряде стран с наиболее благоприятным климатом - в Японии, Китае, Южной Корее, во Вьетнаме. Ключевое значение для изумрудного напитка имеют не только климатические условия, которые безусловно присутствуют в перечисленных уголках мира, но и процедура изготовления. На плантациях наряду с тысячелетними традициями внедрили современные технологии, позволяющие производить качественный чай матча, который Вы можете купить у нас в магазине.


            .faq__control Как правильно заварить чай Матча (Маття)?
                != pugHelpers.Icon.call(locals, {iconName: "plus-circle", className: "faq__svg", iconWidth: "35", iconHeight: "35"})
            .faq__content
                p Ключевое значение при приготовлении чая матча имеет:

                p ! Температура воды. Она должна быть порядка 800C. При использовании крутого кипятка вкус матча будет испорчен.

                p ! Выверенное соотношение чая и жидкости.

                p Для традиционного способа приготовления чая матча необходимо:

                ol
                    li Подогреть кипятком чашу (тяван)

                    li Насухо вытереть ее салфеткой

                    li Взять 2 грамма или 2 мерные ложки тясаку (1/2 чайной ложки) для традиционного способа приготовления (усуйтя) или 4 грамма - 4 мерные ложки тясаку (1 чайная ложка) для крепкого чая (койтя)

                    li Просеять через мелкоячеистое ситечко (фуруи)

                    li Залить горячей водой (температура воды порядка 800C)

                    li Взбить бамбуковым венчиком (часен) w-образными движениями до образования пенки.

                    li Матча готов. Приятного чаепития!

                    p Проверенные рецепты Вы можете найти в нашем разделе Рецепты и советы


            .faq__control С чего начать знакомство с чаем Матча?
                != pugHelpers.Icon.call(locals, {iconName: "plus-circle", className: "faq__svg", iconWidth: "35", iconHeight: "35"})
            .faq__content
                p Если Вы еще не пробовали зеленый чай Матча, советуем Вам начать знакомство с дегустационных наборов. Потому что в сравнении Вы сможете понять и уловить оттенки вариаций утонченных вкусов, что позволит Вам открыть свой матча.
                p
                    a(href="#") Дегустационный сет ЧинСон


            .faq__control Что делать, если нет аксессуаров для правильного заваривания чая Матча?
                != pugHelpers.Icon.call(locals, {iconName: "plus-circle", className: "faq__svg", iconWidth: "35", iconHeight: "35"})
            .faq__content
                p Если у Вас нет полного набора аксессуаров для правильного заваривания чая Матча Вы можете воспользоваться имеющимися подручными средствами, заменив:

                p   Чашу (тяван) - на широкую керамическую пиалу или миску с высокими краями.

                p   Мерную ложку (тясаку) на чайную ложку (в половине чайной ложки 2 грамма чая матча).

                p   Ситечко (фуруи) на любое мелкоячеистое ситечко.

                p   Термометр для измерения температуры воды - температура воды равна примерно 800С когда вода начинает белеть при нагреве.

                p   Бамбуковый венчик (часен) на капучинатор, блендер, миксер или венчик.

