.product{
    background-color: $white;

    .gallery-thumbs {
        padding-top: 20px;

        .product-slider__img{
            cursor: pointer;
        }
    }
    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
      overflow: hidden;
      box-sizing: border-box;
      border: 1px solid transparent;

    }
    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;

        border: 1px solid $yelgreen;

        .product-slider__img{
            transform: scale(0.9);

        }

    }


}

.product__container{
    @include container();

    padding-top: 35px;
    padding-bottom: 35px;

    @media (min-width: $screen-md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (min-width: $screen-lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.product__wrapper{
    @include row();
}

.product__slider{
    @include col();
    @include col(md, 6);
}

.product__descr{
    @include col();
    @include col(md, 6);
}

.product-slider__img{
    position: relative;
    overflow: hidden;
    padding: 0;
    width: 100%;
    transition: transform $transition-time;


    &:before{
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
        width: 100%;

    }
}

.product-slider__icon-new{
    position: absolute;
    left: 20px;
    top: 20px;
    background-image: svg-load('matcha-new-solid.svg');
    width: 55px;
    height: 55px;
}

.product-slider__icon-star{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 55px;
    height: 55px;
    background-image: svg-load('matcha-star.svg');
}

.product-slider__icon-discount{
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    color: $white;
    @include bg($discount-mobile);
    font-size: 11px;
    line-height: 26px;

    @media (min-width: $screen-lg){
        @include bg($discount);
        font-size: 14px;
        line-height: 34px;
    }


}
