mixin product(data)
    section.product
        .product__container
            .product__wrapper
                .product__slider
                    +product-slider()
                .product__descr
                    +product-descr()
                +product-tabs()
