mixin product-descr(data)
    .product-descr
        h2.product-descr__title Чай Матча Весенний, 100г
        p.product-desrc__article Артикул: 06.418
        .product-descr__cost-block
            .product-descr__cost
                span.product-descr__cost-real 990р
                span.product-descr__cost-before 3300
                span.product-descr__cost-profit Выгода 2300р

            a(href="#").product-descr__bonus
                span.product-descr__bonus-num +100
                span.product-descr__bonus-text бонусов на счет
        .product-descr__avialibility.avialibility
            .avialibility__text.avialibility__text--yes В наличии
            .avialibility__text.avialibility__text--not Нет в наличии
            .avialibility__text.avialibility__text--soon Ожидается
        ul.product-descr__list
            li.product-descr__item
                p
                    span Состав:
                    | 100% натуральный зеленый чай Матча (весенний сбор)
            li.product-descr__item
                p
                    span Производитель
                    | ChinhSon Tea Company, Вьетнам
            li.product-descr__item
                p
                    span Упаковка:
                    | Фольгированный пакет с замком зип-лок
            li.product-descr__item
                p
                    span Нетто:
                    | 100 г
            li.product-descr__item
                p
                    span Количество порций:
                    | 50
            li.product-descr__item
                p
                    span Цена за порцию:
                    | 17 рублей 80 копеек

        .product-descr
            .product-descr__field-num
                +field-num({
                    mods: '',
                    val: '1',
                    attrs: {
                        name: 'quantity',
                        min: '1',
                        step: '1',
                    }
                })
            a(href="#").product-descr__btn.btn.btn--green.btn--cart-icon В корзину
            a(href="#" aria-label="Избранное").product-descr__favorites.favorites
            +favorites('product_descr__favorites', true)
            a(href="#").product-descr__fast.btn.btn__border.btn__border--green Быстрый заказ
        .product-descr__social
            p Поделиться в социальных сетях
            ul.social.social--round
                li.social__item
                    a(href="#" aria-label="Вконтакте").social__link.social__link--vk
                    a(href="#" aria-label="Facebook").social__link.social__link--fb
