.checkout{
    @include container();
}


.checkout__wrapper{
    @include row();
}


.checkout__total{
    @include col();
    @include col(md, 3);

    padding-bottom: 50px;

    @media (min-width: $screen-md){
        order: 1;
        padding-bottom: 0;
    }

    @media (min-width: $screen-lg){

    }

    @media (min-width: $screen-xl){

    }

    .btn{
        width: 100%;
    }
}


.checkout__reg{
    @include col();
    @include col(md, 9);

    &--auth{
        @include row();

        .checkout-authorization-form{
            @include col();
            @include col(lg, 6);

            @media (min-width: $screen-md){
                max-width: 290px;
            }

            @media (min-width: $screen-lg){

            }

            @media (min-width: $screen-xl){
                max-width: 360px;
            }
        }

        .checkout__reg-descr{
            @include col();
            @include col(lg, 6)
        }
    }
}


.checkout__total-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.checkout__total-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    line-height: 1;
    color: $gray-darken;
    fill: $gray-darken;

    @media (min-width: $screen-xl){
        font-size: 18px;
    }

    &:first-child{
        border-top: none;
    }

    &--total{
        border-top: 2px solid $yelgreen;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;


        @media (min-width: $screen-xl){
            font-size: 21px;
            padding-top: 25px;
        }

        .checkout__total-svg{
            @media (min-width: $screen-xl){
                height: 21px;
                width: 13px;
            }
        }
    }

    &--bonus{
        border-top: none;
    }
}


.checkout__total-name{}


.checkout__total-num{
    display: inline-block;
    vertical-align: middle;

    &--bonus{
        background-color: $yelgreen-darken;
        color: $white;
        border-radius: 2px;
        font-size: 16px;
        padding: 7px 11px;
    }
}


.checkout__total-svg{
    display: inline-block;
    vertical-align: top;

    @media (min-width: $screen-xl){
        height: 18px;
        width: 11px;

    }
}


.checkout__block{
    margin-bottom: 50px;
}


.checkout__title{
    font-size: 25px;
    color: $yelgreen;
    font-weight: 400;
    margin: 0 0 25px;

    @media (min-width: $screen-lg){
        font-size: 27px;
        margin-bottom: 35px;
    }
}


.checkout__region{
    max-width: 360px;
    .field-text__name{
        margin-bottom: 10px;

        @media (min-width: $screen-xl){
            font-size: 17px;
        }
    }
}


.checkout__payment{

    .field-radio{
        display: flex;
    }

    .field-radio__input-wrap + .field-radio__input-wrap{
        margin: 0;
    }

    .field-radio__name{
        padding: 0;
    }

    .field-radio__name-text{
        display: inline-block;
        padding: 15px 15px 15px 50px;
        border: 1px solid $yelgreen-dark;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;

        &:before{
            width: 23px;
            height: 23px;
            border: 1px solid #bebebe;
            background-color: $white;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);



        }

        &:after{
            width: 11px;
            height: 11px;
            left: 21px;
            top: 50%;
            background-color: $yelgreen-dark;
            transform: translateY(-50%);
        }
    }

    input:checked ~ .field-radio__name-text{
        background-color: $yelgreen-dark;
        color: $white;

        &:before{
            border-color: $yelgreen-dark;
        }
    }

    //input:focus ~ .field-radio__name-text:before{
        //box-shadow: 0 0 0 0.125rem rgba($yelgreen-darker, 1);
    //}

}



.checkout__delivery{
    //@include row();

}


.checkout-delivery__wrapper{

    @media (min-width: $screen-md){
        display: flex;
    }

    @media (min-width: $screen-lg){
    }

    @media (min-width: $screen-xl){
    }

}


.checkout-delivery__box{
    padding: 25px 25px 30px;
    margin-bottom: 25px;
    background-color: $white;

   @media (min-width: $screen-md){
        order: 1;
       margin-left: 15px;
       align-self: flex-start;
    }
}

.checkout-delivery__img{
    margin-bottom: 35px;

    img{
        height: 30px;
        object-fit: contain;
    }
}


.checkout-delivery__descr{
    font-size: 14px;
}


.checkout-delivery__text{
    display: inline-block;
    font-weight: 600;
    margin-bottom: 20px;
}


.checkout-delivery__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    &:last-child{
        margin-bottom: 0;
    }
}

.checkout-delivery__num{
    display: inline-block;
    vertical-align: middle;
}

.checkout-delivery__svg{
    display: inline-block;
    vertical-align: top;
}



.checkout-delivery-list{

    max-width: 420px;
    width: 100%;

    .field-radio{
        @include row(10px, 10px, 10px, 10px, 10px, 10px);
    }

    .field-radio__input-wrap{
        margin-bottom: 10px;
        @include col();
        @include col(xs, 6, $grid-columns, 10px);
        flex: 0 0 47%;
        max-width: 47%;

        + .field-radio__input-wrap{
            margin: 0 0 10px;
        }
    }

    .field-radio__name{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }

    .field-radio__name-text{
        max-width: 100%;
        width: 100%;
        display: inline-block;
        height: 100%;
        padding: 15px 15px 15px 50px;
        border: 1px solid $yelgreen-dark;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
        box-sizing: border-box;

        &:before{
            width: 23px;
            height: 23px;
            border: 1px solid #bebebe;
            background-color: $white;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);



        }

        &:after{
            width: 11px;
            height: 11px;
            left: 21px;
            top: 50%;
            background-color: $yelgreen-dark;
            transform: translateY(-50%);
        }
    }

    .field-radio__img{
        display: block;
        margin-bottom: 15px;

        img{
            max-width: 100%;
            height: 25px;
            object-fit: contain;
        }
    }

    input:checked ~ .field-radio__name-text{
        background-color: $yelgreen-dark;
        color: $white;

        &:before{
            border-color: $yelgreen-dark;
        }
    }
}


.checkout-delivery-list__navigation{
    display: flex;
    align-items: center;
}


.checkout-delivery-list-pagination{
    display: flex;
    position: static;

    .swiper-pagination-bullet{
        width: 40px;
        height: 40px;
        background-color: transparent;
        display: flex;
        border-radius: 50px;
        border: 1px solid $gray-lighten;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: $gray-lighten;
        opacity: 1;
    }

    .swiper-pagination-bullet-active{
        background-color: $yelgreen;
        border-color: $yelgreen;
        color: $white;
    }
}


.checkout-delivery-list-prev,
.checkout-delivery-list-next{
    position: static;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid $gray-lighten;
    background-size: 13px 13px;
    margin: 0;
}


.checkout-delivery-list-prev{
    background-image: svg-load('arrow-left.svg' fill=$gray-lighten);
    margin-right: 10px;
}


.checkout-delivery-list-next{
    background-image: svg-load('arrow-right.svg' fill=$gray-lighten);
}


.checkout__user{
    p{
        color: $gray-lighten;
        font-size: 13px;
        line-height: 1.5;

        @media (min-width: $screen-md){
            max-width: 320px;
        }

        @media (min-width: $screen-lg){

        }

        @media (min-width: $screen-xl){

        }
    }

}
