.personal-bonus{
    padding-bottom: 40px;

    @media (min-width: $screen-md){
        padding-bottom: 50px;
    }

    @media (min-width: $screen-lg){
        padding-bottom: 60px;
    }

    @media (min-width: $screen-xl){
        padding-bottom: 70px;
    }
}


.personal-bonus__list{
    padding: 0;
    margin: 0 0 50px;
    list-style-type: none;

    @media (min-width: $screen-md){
        margin-bottom: 60px;
    }

    @media (min-width: $screen-lg){
        margin-bottom: 80px;
    }
}


.personal-bonus__item{
    background-color: $white;
    padding: 20px;
    margin-bottom: 15px;
    //background-color: $white;

    // @media (min-width: $screen-md){
    //     display: flex;
    // }

}

.personal-bonus__wrapper{
    @include row();

}


.personal-bonus__right{
    @include row();
    @include col();
    @include col(md, 6)

    // display: flex;
    // justify-content: space-between;
}


.personal-bonus__left{
    @include row();
    @include col();
    @include col(md, 6)

    // display: flex;
    // justify-content: space-between;
}


.personal-bonus__descr{
     @include col();
     @include col(xs, 6);
}


.personal-bonus__top{
    background-image: url(%=static=%assets/personal-bonus/bg.jpg);
    padding: 35px 30px 30px;
    margin-bottom: 30px;
}


.personal-bonus__top-points{
    color: $white;
    font-size: 14px;

    @media (min-width: $screen-md){
        font-size: 16px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 0;

    }

    @media (min-width: $screen-lg){
        font-size: 20px;
        margin-bottom: 20px;
    }

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        font-size: 23px;
        font-weight: 700;
        color: #acd53d;
        background-color: $white;
        border-radius: 50%;
        margin: 15px 0;

        @media (min-width: $screen-md){
            font-size: 30px;
            width: 85px;
            height: 85px;
            margin: 0 25px;
        }

        @media (min-width: $screen-lg){
            margin: 0 30px;
            font-size: 36px;
            width: 100px;
            height: 100px;
        }
    }
}


.personal-bonus__top-percent{
    color: $white;
    font-size: 14px;

    @media (min-width: $screen-md){
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    @media (min-width: $screen-lg){
        font-size: 20px;
        margin-bottom: 0;
    }

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 45px;
        padding: 8px 12px;
        background-color: $white;
        font-size: 15px;
        font-weight: 700;
        color: #acd53d;
        border-radius: 2px;
        margin-top: 10px;

        @media (min-width: $screen-md){
            font-size: 19px;
            margin: 0 0 0 25px;

        }

        @media (min-width: $screen-lg){
            font-size: 23px;
            padding: 8px 25px;
        }
    }
}


.personal-bonus__check{
    margin-bottom: 30px;
    .field-toggler__name-text{
        font-size: 14px;
        &:before{
            top: 2px;
        }

        &:after{
            top: 4px;
        }
    }
}


.personal-bonus__descr{
    margin-bottom: 30px;
}


.personal-bonus__caption{
    margin: 0 0 10px;
    font-size: 14px;

    @media (min-width: $screen-md){
        font-size: 16px;
    }
}


.personal-bonus__text{
    display: inline-block;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;

    &--bonus-plus{
        background-color: $yelgreen-dark;
        border-radius: 2px;
        padding-left:10px;
        padding-right:10px;
        color: $white;
    }

    &--bonus-minus{
        background-color: $carnation;
        border-radius: 2px;
        padding-left:10px;
        padding-right:10px;
        color: $white;
    }

}


.personal-bonus__bottom{
    text-align: center;

    p{
        font-size: 14px;
        margin: 0 auto 15px;
        max-width: 275px;
        color: #838383;

        @media (min-width: $screen-md){
            max-width: 320px;
        }

        @media (min-width: $screen-lg){
            font-size: 16px;
            margin-bottom: 25px;
            max-width: 370px;
        }

        @media (min-width: $screen-xl){
            font-size: 18px;
            max-width: 410px;
        }

        &:last-of-type{
            margin-bottom: 30px;

            @media (min-width: $screen-lg){
                margin-bottom: 40px;
            }
        }
    }
}


.personal-bonus__bottom-title{
    font-size: 22px;
    color: #acd53d;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0 0 15px;

    @media (min-width: $screen-md){
        font-size: 25px;
        margin-bottom: 20px;
    }

    @media (min-width: $screen-lg){
        font-size: 27px;
        margin-bottom: 30px;
    }

    @media (min-width: $screen-xl){

    }

}


.personal-bonus__cost{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    color: $white;
    fill: $white;

    @media (min-width: $screen-lg){
        font-size: 22px;
    }

}


.personal-bonus__bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
   @include bg($bonus-bg);
    padding: 10px 18px;
}


.personal-bonus__equally{
    font-size: 22px;
    font-weight: 700;
    color: #a7cf3c;
    margin: 0 20px;
}


.personal-bonus__rub{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bg($bonus-bg-2);
    padding: 10px 18px;
    line-height: 1.5;
}


.personal-bonus__rub-svg{
    display: inline-block;
    vertical-align: top;

    @media (min-width: $screen-lg){
        width: 20px;
        height: 18px;
    }
}
