.personal-bonus{

}


.personal-bonus__list{
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.personal-bonus__item{
    background-color: $white;
    padding: 20px;
    margin-bottom: 15px;
    //background-color: $white;

    // @media (min-width: $screen-md){
    //     display: flex;
    // }

}

.personal-bonus__wrapper{
    @include row();

}


.personal-bonus__right{
    @include row();
    @include col();
    @include col(md, 6)

    // display: flex;
    // justify-content: space-between;
}


.personal-bonus__left{
    @include row();
    @include col();
    @include col(md, 6)

    // display: flex;
    // justify-content: space-between;
}


.personal-bonus__descr{
     @include col();
     @include col(xs, 6);
}


.personal-bonus__top{
    background-image: url(%=static=%assets/personal-bonus/bg.jpg);
    padding: 35px 30px 30px;
    margin-bottom: 30px;
}


.personal-bonus__top-points{
    color: $white;
    font-size: 14px;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        height: 65px;
        font-size: 23px;
        font-weight: 700;
        color: #acd53d;
        background-color: $white;
        border-radius: 50%;
        margin: 15px 0;
    }
}


.personal-bonus__top-percent{
    color: $white;
    font-size: 14px;

    span{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 45px;
        padding: 8px 12px;
        background-color: $white;
        font-size: 15px;
        font-weight: 700;
        color: #acd53d;
        border-radius: 2px;
        margin-top: 10px;
    }
}


.personal-bonus__descr{
    margin-bottom: 30px;
}


.personal-bonus__caption{
    margin: 0 0 10px;
    font-size: 14px;

    @media (min-width: $screen-md){
        font-size: 16px;
    }

    @media (min-width: $screen-lg){

    }

    @media (min-width: $screen-xl){

    }
}


.personal-bonus__text{
    display: inline-block;
    font-size: 13px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0;

    @media (min-width: $screen-md){
        //font-size: 14px;
    }

    @media (min-width: $screen-lg){

    }

    @media (min-width: $screen-xl){

    }


    &--bonus-plus{
        background-color: $yelgreen-dark;
        border-radius: 2px;
        padding-left:10px;
        padding-right:10px;
        color: $white;
    }

    &--bonus-minus{
        background-color: $carnation;
        border-radius: 2px;
        padding-left:10px;
        padding-right:10px;
        color: $white;
    }

}


